<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Final Project - Philippe</title>
</head>
<body>

<h2><img src="../public/images/logo.png" alt="PIXEL_BALL" align="center"></h2>

<p class="mmenuButton">Test</p>

</body>
</html>
