<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Final Project - Philippe</title>
</head>
<body>

<h2><a href="/"><img src="/images/logo.png" alt="PIXEL_BALL" align="center" width="300"></a></h2>

<h2>LEADERBOARD</h2>

<table id="leaderboard" width="500" style="margin: 0px auto;">
    <tr><td>Score</td><td>Name</td></tr>
</table>

</body>
</html>