<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Final Project - Philippe</title>
</head>
<body>

<h2><a href="/"><img src="/images/logo.png" alt="PIXEL_BALL" align="center" width="300"></a></h2>

<div class="score-counter" align="center">
    <p id="scoreboard"></p>
    <form method="POST" action="/addScore">
        <input name="name" minlength="3" maxlength="3" placeholder="Name" required/>
        <input type="submit" value="Submit Score"/>
    </form>
</div>

<canvas id="gameCanvas" width="720" height="500"></canvas>

<p id="controlshelp">Controls: W = Up, A = Left, S = Down, D = Right</p>

<script>
    //function to deal with canvas anti-aliasing
    function setpixelated(context) {
        context['imageSmoothingEnabled'] = false;       /* standard */
        context['mozImageSmoothingEnabled'] = false;    /* Firefox */
        context['oImageSmoothingEnabled'] = false;      /* Opera */
        context['webkitImageSmoothingEnabled'] = false; /* Safari */
        context['msImageSmoothingEnabled'] = false;     /* IE */
    }

    //Set Variables
    var canvas = document.getElementById("gameCanvas");
    var ctx = canvas.getContext("2d");
    setpixelated(ctx);

    //game over and animation timers
    var gameOver = false;
    var animTimer = 0;
    var bonusTimer = 0;

    //canvas location variables
    var ballRadius = 10;
    var x = canvas.width/2;
    var y = canvas.height-30;
    var dx = -3;
    var dy = 3;

    //score variable
    var score = 0;

    //player location
    var px = canvas.width/2;
    var py = canvas.height/2;

    //key handlers
    var keyW = false;
    var keyA = false;
    var keyS = false;
    var keyD = false;

    var ballShoot = true;

    //create texture image objects
    var pDefault = new Image();
    pDefault.src = "/images/textures.png";
    var gOverText = new Image();
    gOverText.src = "/images/gameover.png";


    //Keyboard Event Handlers
    document.addEventListener("keydown", keyDownHandler, false);
    document.addEventListener("keyup", keyUpHandler, false);

    //If key is pressed, update boolean variable
    function keyDownHandler(e) {
        if(e.keyCode == 87) {
            keyW = true;
        }
        if(e.keyCode == 65) {
            keyA = true;
        }
        if(e.keyCode == 83) {
            keyS = true;
        }
        if(e.keyCode == 68) {
            keyD = true;
        }
        //if spacebar is pressed after game ends, reload page
        if(e.keyCode == 32) {
            if( gameOver === true) {
                document.location.reload();
            }
        }
    }

    //If key is no longer pressed, update boolean variable again
    function keyUpHandler(e) {
        if(e.keyCode == 87) {
            keyW = false;
        }
        if(e.keyCode == 65) {
            keyA = false;
        }
        if(e.keyCode == 83) {
            keyS = false;
        }
        if(e.keyCode == 68) {
            keyD = false;
        }
    }


    //Draw Player object and Ball object functions
    function drawPlayer() {

        //Player Death animation
        //if game over, play death animation at player location
        if (animTimer > 0 && gameOver === true ) {
            if (animTimer > 30) {
                ctx.drawImage(pDefault,8, 0, 8, 8, px, py, 50, 50);
            }
            if (animTimer < 30 && animTimer > 19) {
                ctx.drawImage(pDefault,16, 0, 8, 8, px, py, 50, 50);
            }
            if (animTimer < 20 && animTimer > 9) {
                ctx.drawImage(pDefault,24, 0, 8, 8, px, py, 50, 50);
            }
            if (animTimer < 10) {
                ctx.drawImage(pDefault,0, 8, 8, 8, px, py, 50, 50);
            }

            animTimer = animTimer - 1;

        }
        if (gameOver === false) {

            if(bonusTimer === 0) {
                ctx.drawImage(pDefault, 0, 0, 8, 8, px, py, 50, 50);
            }
            else if(bonusTimer > 0) {
                ctx.drawImage(pDefault, 8, 8, 8, 8, px, py, 50, 50);

                bonusTimer = bonusTimer - 1;
            }
        }
        else {}
    }

    //draw ball
    function drawBall() {
        ctx.drawImage(pDefault,0, 32, 8, -8, x, y, 50, 50);
    }

    //Main Draw function
    function draw() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        drawPlayer();


        //Spawn Ball
        if(ballShoot === true) {
            drawBall();
            x += dx;
            y += dy;
        }
        //if ball is removed, reset start location of ball
        if(ballShoot === false) {
            x = canvas.width/2;
            y = canvas.height-30;
        }


        //If Ball hits edge of canvas, change direction by 90 degrees
        if(x + dx > canvas.width-(ballRadius/2) || x + dx < ballRadius) {
            dx = -dx;
        }
        if(y + dy > canvas.height-ballRadius || y + dy < ballRadius) {
            dy = -dy;
        }

        //If ball and player collide, game over
        if(Math.abs(x - px) <= 35 && Math.abs(y - py) <= 35) {
            animTimer = 40;
            ballShoot = false;
            gameOver = true;

        }
        //If ball comes close to player, give score boost
        if(Math.abs(x - px) >= 36 && Math.abs(y - py) >= 36 && Math.abs(x - px) <= 50 && Math.abs(y - py) <= 50) {
            bonusTimer += 20;
            score += 200;
        }

        //if game over, display game over graphic after death animation
        if (gameOver === true && animTimer === 0) {

            ctx.drawImage(gOverText, ((canvas.width/2)-320), ((canvas.height/2)-100))

        }

        //If player is within bounds of canvas, move according to key handlers
        if(keyD && px < canvas.width-30) {
            px += 1;
        }
        if(keyA && px > 30) {
            px -= 1;
        }

        if(keyW && py > 30) {
            py -= 1;
        }

        if(keyS && py < canvas.height-30) {
            py += 1;
        }


        //Score counter
        if(score < 10000001 && gameOver === false) {
            score += 1;

            //Display score in HTML
            document.getElementById("scoreboard").innerHTML = "Score: " + score;
        }
    }

    //Call main draw function via setInterval()
    setInterval(draw, 5);

</script>

</body>
</html>
