body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: dimgray;
}

a {
  color: #00B7FF;
}

* { padding: 0; margin: 0; }
canvas { background: darkslateblue; display: block; margin: 0 auto; }


h2 {
  text-align: center;
  color: ghostwhite;
}

p {
  text-align: center;
}

#scoreboard {
  text-align: center;
  padding-bottom: 20px;
  color: tomato;
}

.mmenuButton {
  text-align: center;
  padding: 20px;
}

#controlshelp {
  padding-top: 5px;
  color: ghostwhite;
}

#leaderboard {
  background-color: darkslateblue;
  color: ghostwhite;

  border: 1px solid ghostwhite;
}